# Start from Google C++ Style
BasedOnStyle: Google

# General formatting
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80

# Braces and indentation
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Spaces
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true

# Pointer and reference alignment
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# Includes
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '.*'
    Priority: 3

# Namespace formatting
NamespaceIndentation: None
IndentNamespace: None

# Comments
CommentPragmas: '^ IWYU pragma:'

# C++ specifics
Standard: Cpp17
AccessModifierOffset: -1
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2

# Alignments
AlignAfterOpenBracket: Align
AlignOperands:   true
AlignTrailingComments: true

# Others
BinPackArguments: true
BinPackParameters: true
Cpp11BracedListStyle: true
ReflowComments: true